<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Empleado</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        a {
            color: white;
        }

        a:hover {
            color: black;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="container">
    <br>
    <button type="button" class="btn btn-danger" style="float:right"><a th:href="@{/logout}">Cerrar Sesion</a></button>
    <br><br>
    <p th:inline="text" style="float:right">User: [[${#httpServletRequest.remoteUser}]]</p>

    <h1>Actualice Los Datos</h1>
    <!--Crea formulario para llenar datos de Empresa y los guarda en el objeto emp -->
    <br>
    <form th:action="@{/ActualizarEmpleado}" th:object="${emple}" method="post">

        <!--Campo para id -->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="id">ID Empleado:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{idEmpleado}" class="form-control" id="id" required="required"
                           readonly>
                </div>
            </div>
        </div>

        <!--Campo para nombre -->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="nombre">Nombre del Empleado:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required="required">
                </div>
            </div>
        </div>
        <!--Campo para correo -->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="email">Correo del Empleado:</label>
                <div class="col-md-6">
                    <input type="email" th:field="*{email}" class="form-control" id="email" required="required">
                </div>
            </div>
        </div>

        <!--Campo para empresa -->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="empresa">Empresa del Empleado:</label>
                <div class="col-md-6">
                    <select th:field="*{empresa}" class="form-control" id="empresa" required="required">
                        <option th:each="empresa : ${emprelist}" th:text="${empresa.nombre}"
                                th:value="${empresa.idEmpresa}"></option>
                    </select>
                </div>
            </div>
        </div>

        <!--Campo para rol -->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="rol">Rol del Empleado:</label>
                <div class="col-md-6">
                    <select th:field="*{rol}" class="form-control" id="rol" required="required">
                        <option th:value='ROLE_ADMIN'>Admin</option>
                        <option th:value='ROLE_USER'>Operario</option>
                    </select>
                </div>
            </div>
        </div>

        <!--Campo para contraseña -->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="password">Contraseña del Empleado:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{password}" class="form-control" id="password" required="required">
                </div>
            </div>
        </div>

        <!--Campo para estado -->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="rol">Estado del Empleado:</label>
                <div class="col-md-6">
                    <select th:field="*{estado}" class="form-control" id="estado" required="required">
                        <option th:value=1>Activo</option>
                        <option th:value=0>Inactivo</option>
                    </select>
                </div>
            </div>
        </div>

        <!--Campo para fechaCreacion -->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="fechaCreacion">Fecha Creacion del Empleado:</label>
                <div class="col-md-6">
                    <input type="date" th:field="*{fechaCreacion}" class="form-control" id="fechaCreacion"
                           required="required" readonly>
                </div>
            </div>
        </div>

       <!-- Campo para fechaActualizacion -->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="fechaActualizacion">Fecha Actualizacion:</label>
                <div class="col-md-6">
                    <input type="date" th:field="*{fechaActualizacion}" class="form-control" id="fechaActualizacion" readonly>

                </div>
            </div>
        </div>

        <!--Crear boton que envia todo y termina-->
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-success">Actualizar Empleado</button>
            </div>
        </div>
    </form>
    <br>
    <a href="javascript:history.go(-1)" class="btn btn-info" role="button">Atrás</a>
</div>
<!--Validacion para fecha local del sistema-->
<script th:inline="javascript">
    window.onload = function () {
        document.getElementById("fechaActualizacion").value = new Date().toJSON().slice(0, 10).replace(/-/g, '-');
    }
</script>

<!--Script para ocultal la contraseña-->
<script th:inline="javascript">
    window.onload = function () {
        document.getElementById("password").type="password"
    }
</script>

</body>
</html>